.clients__left__workers{
    padding: 50px 80px 0;
}
.clients__left__worker{
    align-items: center;
    cursor: pointer;
    &:hover{
        color: var(--dark-blue);
    }
    & .clients__left__worker_info{
        & .name{
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 5px;
            &.active{
                color: var(--dark-blue);
            }
        }
        & .date{
            margin: 0;
            font-size: 0.9rem;
            color: #afafaf;
            font-weight: 300;
        }
    }
    & .clients__left__workers_job{
        font-size: .9rem;
        font-weight: bold;
        color: #afafaf;
        & .clients__left__workers_rating_number{
            // font-size: ;
        }
    }
}

.clients__right_desc{
    background-image: url(../../assets/images/client-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:  30px;
    border-radius: 30px;
    color: var(--white);
    & .clients__right_desc_txt{
        font-style: italic;
        line-height: 2;
    }
}
.clients__right__client{
    justify-content: start;
    align-items: flex-start;
    padding-top: 30px;
    & .clients__right__client_boxImg{
        width: 170px;
        height: 170px;
        border-radius: 50%;
        overflow: hidden;
        & img{
            width: 100%;
        }
    }
    & .clients__right__client__info{
        padding-left: 30px;
    }
}