.clients__left__workers{
    padding: 50px 80px 0;
}
.clients__left__worker{
    align-items: center;
    & .clients__left__worker_info{
        & .name{
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 5px;
            &.active{
                color: var(--dark-blue);
            }
        }
        & .date{
            margin: 0;
            font-size: 0.9rem;
            color: #afafaf;
            font-weight: 300;
        }
    }
    & .clients__left__workers_job{
        font-size: .9rem;
        font-weight: bold;
        color: #afafaf;
        & .clients__left__workers_rating_number{
            // font-size: ;
        }
    }
}

.clients__right_desc{
    background-image: url(../../assets/images/client-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 30px;
    border-radius: 30px;
    color: var(--white);
}