@import './assets/css/index.scss';
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    height: 5000px;
}

//general style
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--black)
}
//common
.mcontainer {
    width: 86%;
    margin: 0 auto;

}
.ds_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}
.mr_10{
    margin-right: 10px;
}
.ml_10{
    margin-left: 10px;
}
.pt_130{
    padding-top: 130px;
}
.section__header{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.section__header_title{
    font-size: 1.7rem;
    margin: 0;
    & > span{
        color: var(--dark-blue);
    }
}
.section__header__lines{
    padding: 10px 0;
    & > span{
        display: inline-block;
        width: 3%;
        height: 2px;
        margin: 0 2px;
        background-color: var(--dark-blue);
    }
}
.section__header_desc{
    width: 60%;
    margin-left:  auto;
    margin-right:  auto;
    font-size: .8rem;
    line-height: 30px;
    font-weight: 300;
    color: #afafaf;
    & > span{
        color: var(--dark-blue);
    }
}